body{
  background-color:#f4f4f4;
  color-#555;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 10;
  line-hight:1.6em;
  margin: 0;
  height: 2000px;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header{
  height: 70px;
  width: 100%;
  background-color:#000;
  color:#fff;
  position: fixed;
  top: 0px;
}

#main-header h1{
  margin: 0px;
  padding-top: 15px;
}

#main-navbar{
  height: 40px;
  width: 100%;
  background-color:coral;
  color:#fff;
  position: fixed;
  top: 70px;
}

#main-navbar ul{
  margin: 0px;
  padding: 9px 0px 0px 0px;
  list-style: none;
}

#main-navbar li{
  display:inline;

}

#main-navbar a{
  color:#fff;
  text-decoration: none;
  font-size:18px;
  padding-right:20px;
}

#showcase{
  float: left;
  width: 60%;
  background-image: url(../HTML/images/isak.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 110px 0px 0px 0px;
  min-height: 400px;
}

#showcase1{
  color: #fff;
  background-color: #000;
  float: right;
  width: 40%;
  text-align: center;
  padding: 110px 0px 0px 0px;
  min-height: 400px;
}

#showcase1 h1{
  margin: 0px;
  padding: 170px 160px 0px 0px;
}

#main-footer{
  color: #090909;
  width: 100%;
  padding-bottom: 15px;
  background-color: gray;
}

#main-footer p{
  padding-top: 15px;
}
