*{
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  background-color:#f4f4f4;
  color: #555;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 10;
  line-height: 1.6em;
  height: 2000px;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-navbar{
  height: 40px;
  width: 100%;
  background-color:#BF1920 /*#0272d2,#f0f0f0,#59b359,#d3514d,#0272d2,#282a2b*/;
  color:#000;
/*background-image: url(../HTML/skyStars.svg);*/
  position: fixed;
  top: 0;
}

#main-navbar ul{
  text-align: right;
  margin: 0px;
  padding: 7px 10px 0px 0px;
  list-style: none;
}

#main-navbar li{
  display:inline;
}

#main-navbar .headLI {
  float: left;
  position: relative;
  top: -1px;
  height: 40px;
}
#main-navbar .headLI a{
  font-family: "Consolas";
  text-align: left;
  font-size: 40px;
  color: #3cb878;
}

#main-navbar a{
  color:#000;
  text-decoration: none;
  font-size:15px;
  padding-left: 9px;
}

.showcase{
  background-image: url(../HTML/images/isak.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
}

.showcase1{
  color: #fff;
  background-color: #000;
  float: left;
  width: 40%;
  text-align: center;
  height: 300px;
}

.showcase1 h1{
  margin: 0px;
  padding-top: 100px;
}

.showcase2{
  background-image: url(../HTML/images/my3dartskills.jpg);
  background-size: 60%;
  height: 200px;
}
.d3text {
  text-align: center;
  background-color: coral;
  float: left;
  color: #000;
  width: 30%;
  height: inherit;
}
.showcase2 p{
  padding-top: 50px;
}

.Quto{
  background-color: #f4f4f4;
  width: 100%;
  height: 250px;
}

.Quto .fristQuot{
  text-align: right;
  padding-top: 30px;
}

.Quto .secondQuot{
  text-align: left;
  padding-top: 30px;
}

#main-footer{
  color: #090909;
  width: 100%;
  padding-bottom: 15px;
  background-color: #59b359;
}

#main-footer p{
  width: 80%;
}
